.header
{
  background-color: rgb(110, 102, 155);
  color: white;
  height: 50px;
  justify-content: center;
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

.header_blue
{
  background-color: blue;
  color: white;
  height: 50px;
}

.action_container
{
  margin-top: 10px;
  text-align: center;
}

/* .task_container
{
  
} */